{% extends 'base.html' %}
{% load static %}
{% block title %} About us {% endblock %}

{% block content %}

<h1>WebHost Incorporation</h1>
<div class="general-content-block">
    <h2>Our goals</h2>
    <div class="image-container">
    <img src="{% static 'images/RSA-logo.png' %}" alt="WebHost Logo">
    </div>
    <div class="text-block">
        We are a company focused on the proper management and monitor devices connected to a same network for all business, mainly software business.
        <hr>
        <h3>Our mission</h3>
        To provide the best system to manage and control devices in a corporative network for better supervision, 
    </div>

</div>
<div>
<h2>Creators</h2>


{% endblock %}
