{% extends 'base_dshb.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}


<!--DEVICE CARD-->
<h1>Device Status</h1>
<div class="devices-container">
    <h2 class="extra-general-container-title">Device #</h2>
    <div class="status-card">
        <h3 class="general-container-title">Report</h3>
        <p id="report-status">Loading...</p>
    </div>

    <div class="status-card">
        <h3 class="general-container-title">Heartbeat</h3>
        <p id="heartbeat-status">Loading...</p>
    </div>

    <div class="status-card">
        <h3 class="general-container-title">Performance</h3>
        <p id="performance-status">Loading...</p>
    </div>

    <div class="status-card">
        <h3 class="general-container-title">Processes</h3>
        <p id="processes-status">Loading...</p>
    </div>
</div>
{% endblock %}