{% extends 'base_dshb.html' %}
{% block title %} Services {% endblock %}
<!-- SERVICES TABLE -->
<h1>Device: </h1> <hr>
<h3>Latests Services</h3>
<div class="table-container">
    <table class="webhost-table">
        <!-- columns -->
        <thead>
            <tr>
                <th>Display Name</th>
                <th>Status</th>
                <th>Time Stamp</th>
            </tr>
        </thead>
        <!-- rows -->
        <tbody id="services-table-body">
        </tbody>
    </table>
    <div></div>
</div>