<!-- We need table for PROCESSES & SERVICES -->
<!-- PROCESSES TABLE -->
<div class="table-container">
    <table class="webhost-table">
        <!-- columns -->
        <thread>
            <tr>
                <th>Computer</th>
                <th>Process ID</th>
                <th>Name</th>
                <th>Memory (MB)</th>
                <th>Time Stamp</th>
            </tr>
        </thread>
        <!-- rows -->
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div></div>
</div>

<!-- SERVICES TABLE -->
