{% extends 'base_dshb.html' %}
{% load static %}
{% block extra_js %} <script src="{% static 'js/load_devices.js' %}" defer></script> {% endblock %}

{% block title %} {{ computer.hostname }} - Details {% endblock %}


{% block content %}

<div class="performance-grid">
    <div class="performance-card">
        <h3>CPU Usage</h3>
        <div class="performance-circle">
            <span id="cpu-usage"></span>
        </div>
        <p>Processor</p>
    </div>
    <div class="performance-card">
        <h3>Memory Usage</h3>
        <div class="performance-circle">
            <span id="memory-usage"></span>
        </div>
        <p>RAM</p>
    </div>

    <div class="performance-card">
        <h3>Disk Usage</h3>
        <div class="performance-circle">
            <span id="memory-usage"></span>
        </div>
        <p>Storage</p>
    </div>
</div>

<!-- <h1>Devices connected</h1>
<div id="computers-container"></div> -->

<!-- devices-card (class for other container) -->
<!-- <h2>Device Details (Test)</h2>
<div class="devices-container">
    <h2 class="extra-general-container-title" id="hostname">Loading...</h2>
    <p>
        Status: <span id="heartbeat-status">Loading...</span>
    </p>
    <p>
        IP Address: <span id="ip-address">Loading...</span>
    </p>
    <p>
        MAC Address: <span id="mac-address">Loading...</span>
    </p>
    <p>
        RAM: <span id="total-ram">Loading...</span>
    </p>
    <p>
        Logged In User: <span id="logged-in-user">Loading...</span>
    </p>
    <p>
        Network Adapter: <span id="network-adapter">Loading...</span>
    </p>
    <p>
        CPU Core: <span id="cpu-core">Loading...</span>
    </p>
    <p>
        CPU Model: <span id="cpu-model">Loading...</span>
    </p>
    <p>
        Memory Usage: <span id="memory-usage">Loading...</span>
    </p>
</div> -->
{% endblock %}