{% extends 'base.html' %}
{% block title %} Register {% endblock %}

<div class="general-container">
    <label class=""></label>
    <!--  
    
    >> (possible entries):
    - Name
    - Last name
    - company/business
    - email
    - phone
    - username 
    - password
    
    -->
    <input>
    <input>
    <input>
    <input>
    <input>
    <input>
    <input>
    <input>
    <label class="form-check-label" for="checkDefault">Show password</label>
</div>

<div class="text-container">
</div>

{% block content %}
{% endblock %}