@import 'styles_variables.css';
.general-button{
    color: var(--buttons-color);
    border-width: 3px;
    border-color: var(--buttons-border);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 173, 181, 0.4);
}

.secondary-button{
    color: var(--secondary-button-text);
    border-width: 3px;
    border-color: var(--secondary-buttons-border);
}