@import 'styles_variables.css';
body{
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
    color: var(--text-color);
    background: var(--background);
    transition: color 0.3s;
}

h1{
    font-weight: bold;
    color:var(--title);
}
h2{
    font-weight: bold;
    color:var(--subtitle);
}
h3{
    font-weight: bold;
    color:var(--extra-subtitle);
}
h4{
    color: var(--footer-text);
}

img{
    width:300px;
    height: 300px;
}

hr{
    border: none;
    height: 2px;
    margin: 30px auto;
    width: 85%;
    background: linear-gradient(90deg, transparent, var(--accent-color), var(--hover-color), var(--accent-color), transparent);
    box-shadow: 0 0 10px var(--accent-color);
    border-radius: 50%;
}