@import 'styles_variables.css';

.darkmode{
    --base-color: #120227;
    --base-variant: #060226;
    --base-variant1: #010225ad;
    --white-col: #ffffff;
    --black-col: #000000;
    --text-color:#ffffff;
    --secondary-text:#c5c5c5;
    --primary-color:#a2ab1c;
    --accent-color:#4d9aff;
    --buttons-color: #090124;
    --buttons-text: #ffffff;
    --buttons-secondary-color: #a5e8ffe3;
    --buttons-text-secondary-color: #91fff2d0;
    --buttons-border: #00aaff;
    --buttons-border-variant1: #027cffdc;
    --button-glow:0 0 15px rgba(47, 179, 255, 0.4); 
    --secondary-button-text: #1b0123;
    --secondary-buttons-border:#5650fe;
    --secondary-buttons-hover:#ffffff;
    --text-shadow1:#4762ffc4;
    --title:#80bbff;
    --subtitle: #99b8d4;
    --extra-subtitle:#5eb1ff;
    --extra-subtitle-var1:#a3f7ff;
    --container-title: #51cfd8;
    --container-text: #e1ebfd;
    --hover-color: #87cdff;
    --hover-color-darkmode-button:#0f0070ca;
    --navbar-options: #ffffff;
    --background: linear-gradient(180deg, #0e121d, #000000);
    --darkmode-button-background: #4603d5b6;
    --comp-gradient: radial-gradient(circle at 25% 70%, #164e63 0%, #172554 40%, #11143d 75%, #060817 100%);
    --login-cont-background:#98b9f7;
    --login-cont-glow: 0 5px 15px rgba(76, 177, 255, 0.774);
    --login-cont-text: #1d2180;
    --footer-text:#7070da;
    --profile-shadow: rgb(168, 255, 246);
}
/* radial-gradient(at 20% 70%, #d1ddff, #ffffff); */

*{
    margin: 0;
    padding: 0;
}

/*DARKMODE STUFF*/
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#theme-switch:hover{
    background-color: var(--hover-color-darkmode-button);
    transform: scale(1.08);
}

#theme-switch svg{
    fill: var(--primary-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

/* //////////////// CLASSES ////////////////*/
/* >>> Separators (FOR ABOUT US PAGE) */
.vertical-separator{
    border-left: 2px solid;
    height: 172px;
    
    display: inline-block;
    margin: auto 30px;

    background: linear-gradient(90deg, transparent, var(--accent-color), var(--hover-color), var(--accent-color), transparent);
    box-shadow: 0 0 10px var(--accent-color);
    border-radius: 50%;
}

/* >>> LOGIN */
.login-container{
    background: var(--login-cont-background);
    margin: 40px auto;
    padding: 30px;
    width: 400px;
    min-height: 400px;
    box-sizing: border-box;
    border-radius: 10%;
    box-shadow: var(--login-cont-glow);
}
.login-header{
    color: var(--base-color);
}
.login-text{
    color: var(--login-cont-text);
}

.footer-styles{
    color:var(--footer-text) !important;
}

.title{
    text-align: center;
    font-weight: bold;
    color:var(--title);
    display: flex;
}

/*//////////////////*/

.dashboard-layout{
    display: flex;
    width: 100%;
    min-height: 600px;
}

.text-block{
    padding: 10px;
}

/*FOR SMALLER SCREENS*/
@media (max-width: 600px){
    .register-row{
        flex-direction: column;
        gap: 0;
    }
}